<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADAplicacion.Properties.Settings.AplicacionComercialConnectionString3"
            connectionString="Data Source=DESKTOP-B8TVDFB\SQLEXPRESS;Initial Catalog=AplicacionComercial;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>