<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADAplicacion.Properties.Settings.AplicacionComercialConnectionString"
            connectionString="Data Source=DESKTOP-LQRDQC9;Initial Catalog=AplicacionComercial;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>